<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <h1>Transfert réussi</h1>
        <p>Bonjour {{name}},</p>
        <p>Votre transfer de produit a bien été effectué</p>
        <h4>Si vous n'avez pas initié cette opération, veuillez contacter notre support technique à cette adresse contact@commercegestion.com</h4>
    </body>
</html>