<h1>Bienvenue sur Etokisana !</h1>
<p>Bonjour {{name}},</p>
<p>Félicitations votre inscription sur Etokisana s'est terminée avec succès.</p>
<a href="https://commercegestion.com"><button>Visiter</button></a>