<h1>Bienvenue sur Etokisana !</h1>
<p>Bonjour {{name}},</p>
<p>Bienvenue sur Etokisana, pour finaliser votre inscritpion veuillez cliquer sur le lien suivant<br>
<a href={{link}}>{{link}}</a>
    ou appuyer sur le bouton ci-dessous </p>
    <a href={{link}}><button>Vérifier mon email</button></a>