<h1>Inscription en cours</h1>
<p>Bonjour {{name}},</p>
<p>Nous avons bien reçu votre demande d'inscription sur notre plateforme. Merci de votre patience pendant que notre équipe procede à la vérification de votre demande afin de la valider.</p>