<p>Bonjour {{name}},</p>
<p>Bienvenue sur Etokisana, pour finaliser votre inscritpion veuillez s'il vous plâit suivre le lien suivant<br>
<a href={{link}}>{{link}}</a>
    ou appuyer sur le bouton ci-dessous </p>
    <a href={{link}}><button>Verifier mon Email</button></a>