{{!-- <h1>Bienvenue sur Etokisana !</h1> --}}
<p>Félicitations {{name}} !</p>
<p>La vérification de vos informations est terminée<br>
<a href={{link}}>Aller au site !</a>
    ou appuyer sur le bouton ci-dessous </p>
    <a href={{link}}><button>Vérifier mon email</button></a>