<h1>Bienvenue sur Etokisana !</h1>
<p>Bonjour {{name}},</p>
<p>Votre entreprise est la bienvenue sur notre plateforme. Merci de votre patience pendant que notre équipe procede à la vérification de votre demande afin de la valider.</p>